<h2>About Me</h2>
<p>Sono giornalista e dicono che scrivo bene. Sono nato a Firenze e ora vivo a Milano. Scrivo di tecnologia e amo volare, se proprio devo anche in classe economica. Ho un blog dal 2002.</p>

<h2>Più o meno</h2>
<ul>
  <li>Scrivo articoli per varie testate</li>
  <li>Scrivo libri ed ebook</li>
  <li>Parlo in radio</li>
  <li>Insegno in alcune università e scuole</li>
  <li>Facilito progetti interessanti per il web</li>
</ul>

<p>La parte della rete che abito:</p>

<!--<hr />-->

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-file-text fa-lg main-list-item-icon"></span>
    <a href="http://antoniodini.blogspot.com">Il Posto di Antonio</a>
  </li>
   <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/antoniodini">Facebook</a>
  </li>
   <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/antoniodini">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://it.linkedin.com/in/antoniodini">Linkedin</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-cog fa-lg main-list-item-icon"></span>
    <a href="http://it.wikipedia.org/Antonio_Dini">Wikipedia</a>
    </li>
  <li class="main-list-item">
    <span class="fa fa-camera-retro fa-lg main-list-item-icon"></span>
    <a href="https://instagram.com/antoniodini/">Instagram</a>
    </li>
</ul>
